.todo {
font: size 40px;
color: blueviolet ;
}
.todo:hover {
    background-color: blue;
transition: all 200ms;
}

.completed{
    color: gray;
    text-decoration: line-through;
}

h1 {
    text-align: center;
transition: all 1s;
}

.big {
    transform: scale(2);
    color: green;
}

.small {
    transform: scale(0.5);
    color: red;
}